In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
df = df.sample(df.shape[0],ignore_index=True)

In [5]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Lajpat Nagar,flat,builder floor,0.60,6000.0,1000.0,Super Built up area 1000(92.9 sq.m.)Built Up a...,3,2,1,not available,"Lajpat Nagar, Main Railway Road, Gurgaon, Lajp...",3.0,East,0 to 1 Year Old,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'Jac...",Property in very good location in the centre o...,[],NaN,NaN
1,6 Bedroom House for sale in Sector 33 Gurgaon,house,unitech uniworld resorts,8.00,17778.0,4500.0,Built Up area: 500 (418.06 sq.m.),6,5,3+,not available,"A 121 The Villas Uniworld Resorts, Sector 33 G...",4.0,NaN,undefined,NaN,6bhk villa for resale in unitech the villas at...,NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
2,4 Bedroom House for sale in Sector 50 Gurgaon,house,ss hibiscus,12.50,40850.0,3060.0,Plot area 470(392.98 sq.m.)Built Up area: 410 ...,4,4,3+,"servant room,study room","Sector 50 Gurgaon, Gurgaon, Haryana",2.0,West,1 to 5 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",For sale 4 bhk villa in the hibiscus gurgaon. ...,"['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,3 BHK Flat in Sector 95 Gurgaon,flat,rof ananda,0.38,5899.0,644.0,Carpet area: 644.12 (59.84 sq.m.),3,2,1,pooja room,"203, Sector 95 Gurgaon, Gurgaon, Haryana",2.0,South-East,1 to 5 Year Old,"['Metro', 'Dwarka Expressway', 'Rajeev Chowk',...",Rof ananda is one of gurgaon's most sought aft...,"['5 Fan', '1 Exhaust Fan', '1 Geyser', '8 Ligh...","['Power Back-up', 'Security / Fire Alarm', 'In...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
4,2 BHK Flat in Sector 4 Urban Estate,flat,apna enclave,0.60,6667.0,900.0,Built Up area: 900 (83.61 sq.m.)Carpet area: 7...,2,2,1,not available,"Sector 4 Urban Estate, Gurgaon, Haryana",1.0,North-East,undefined,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","2 bath, semi-Furnished, 1st floor (Of 4), nort...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [7]:
df.to_csv('gurgaon_properties.csv',index=False)